<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <title>Login Page</title>
</head>
<body>
    <script>
        // Display an alert box when the page loads
        window.onload = function() {
            alert('Incorrect Password! Please Try Again Later.');
        };
    </script>
    <form id="loginForm" action="/process" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>
